body {
  background-color: #fffbfb;
}
/*header de todas las paginas*/
header{
    font-family: 'Londrina Shadow', cursive;
    font-size: 50px;
    text-align: center;

}
header img{
    width: 80px;
    height: 80px;
}

.menu  {
    background-color:#ecf5ff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Londrina Shadow', cursive;
}
.colormenu{
    background-color: #ecf5ff;
}
/* nave (menu) */
nav a{
    font-family: 'Londrina solid', cursive;
    margin: 15px;
    text-decoration: none;
    padding: 15px;

}
nav a:hover{
    font-weight: lighter;
}
.boton{
    background-color: #ccdcff;
}
/* footer de todas las paginas*/
.footer {
  background-color:#ccdcff;
  padding: 10px;
}
.contacto {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  background-color: #ccdcff;
}

.contacto img {
  width: 50px;
  height: 40px;
  gap: 10px;
  
}
/* pagina principal (home) */
.patitas {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  padding: 40px 40px;
  background-image: url("imagenes/huellas.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.patitas h2 {
    font-family: 'Londrina Solid', cursive;
    margin: 0% auto ;
    padding: 20px;
    text-align: center;
}
.huellas {
  width: 600px; 
  position:relative;
  top: 0;
  left: 5%;
}

.imagenes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  margin: 50px auto;
  padding: 10px;
  flex-wrap: wrap;
  background-color: #ecf5ff;
}
.imagenes img {
  width: 120%;
  max-width: 300px;
  height: auto;
  border-radius: 0px;
}

.centrado{
 margin-left: 43%;
 font-size: 30px;
 text-align: center;
 font-family: 'Londrina Shadow', cursive;
}


/* pagina de como cuidarlos */
.cuidado {
  padding: 30px;
  text-align: center;
}
.cuidado h2 {
  font-family: 'Londrina Solid', cursive;
  margin: 5%;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.consejos {
  width: 300px;
  background-color: #ecf5ff;
  background-size: 70%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: left;
}

.consejos img {
  width: 100%;
  border-radius: 10px;
}

.consejos h2 {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.consejos ol {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 50px;
}

.consejos li {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Londrina Solid', cursive;
}

/* pagina sobre nosotros*/
.nosotros {
  padding: 40px 20px;
  background-color: #fffbfb;
  background-image: url("imagenes/huellas.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

.container1{
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.texto1 {
  flex: 1;
  min-width: 200px;
  font-size: 16px;
  line-height: 1,6;
  background-color: #ccdcff;
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;

}

.texto1 h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family:'Londrina Solid', cursive;
}
.texto1 p {
  font-size: 20px;
}

.invitacion {
  margin-top: 30px;
  font-family:'Londrina Solid', cursive;
  font-weight: 500;
  font-size: 20px;
}

.imagenes2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ccdcff;
  border-radius: 10px;
}

.imagenes2 img {
  width: 296px;
  border-radius: 10px;
  object-fit: cover;
}

/*pagina como adoptar*/
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Londrina Solid', cursive;
  padding: 40px 20px;
}
.pasos{
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.items{
  position: relative;
  z-index: 1;
  background-color: #ccdcff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
  font-size: 20px;
}
.huellas2{
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
  z-index: 0;
  width: 300px;
}
.video {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
  margin: 40px;
  
}
/* pagina perros y gatos*/
.perros {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  background-color: #f8fbff;
}

.gatos {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  background-color: #f8fbff;
}
.tarjeta {
  display: flex;
  align-items: center;
  background-color: #e2edfb;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

}

.tarjeta img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}


.texto h2 {
  margin: 0;
  font-size: 30px;
  color: #3a3a3a;
}

.texto p {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-family:'Londrina Solid', cursive;
}
.texto {
  width: 80%;
}

.flecha img {
  width: 100px;
  height: 100px;
  background-color: #ccdcff;
  margin-left: 800px;
}

/*pagina personalizada de cada uno */
.filtros {
  display: flex;
  align-items: center;
  justify-content: end; 
  gap: 10px;
  margin: 10px 20px; 
  flex-wrap: wrap; 
}

.filtros label {
  font-weight: bold;
  margin-right: 5px;
}

.filtros select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.imggatos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: #ccdcff;
}

.imggatos img {
  width: 30%;
  border-radius: 0px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.imgperros {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: #ccdcff;
}

.imgperros img {
  width: 30%;
  border-radius: 0px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


.presentacion {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  font-family:'Londrina Solid', cursive;
}

.presentacion h2 {
  font-size: 24px;
  font-weight: bold;
}

.presentacion p {
  margin: 15px 0;
  line-height: 1.6;
  font-size: 18px;
}

.presentacion ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  font-size: 18px;
}

.presentacion li {
  margin: 5px 0;
}

.contactoflia {
  margin-top: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}




